{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Honey</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              CecilHoney
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item {% if request.path == '/honey/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'honey' %}">Honey</a>
                </li>
                <li class="nav-item {% if request.path == '/testimonial/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'testimonial' %}">Testimonial</a>
                </li>
                <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
              </ul>
            </div>
            

          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- chocolate section -->

    <section class="chocolate_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Our Honey products
          </h2>
          <p>
            Discover the pure essence of nature in every jar. From the lush regions of Arua and Congo,
             our honey is crafted with care to deliver unmatched quality, flavor, and freshness. 
             Perfect for your health and sweet indulgence!
          </p>
        </div>
      </div>
      <div class="container">
        <div class="chocolate_container">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/ca.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Yummy <span>Honey</span>
              </h6>
              <h5>
                In all QTY
              </h5>
              <a href="">
                BUY NOW
              </a>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/c1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                20GRMS <span>Small Container</span>
              </h6>
              <h5>
               UGX 1K
              </h5>
              <a href="">
                BUY NOW
              </a>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/c2.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                125GRMS <span>Honey</span>
              </h6>
              <h5>
               UGX 3K
              </h5>
              <a href="">
                BUY NOW
              </a>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/c3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                250GRMS  <span>Honey</span>
              </h6>
              <h5>
                UGX 8K
              </h5>
              <a href="">
                BUY NOW
              </a>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/c4.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                1LTR <span>Honey</span>
              </h6>
              <h5>
               UGX 25K
              </h5>
              <a href="">
                BUY NOW
              </a>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/cb.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                5LTR <span>Honey</span>
              </h6>
              <h5>
                UGX 100k
              </h5>
              <a href="">
                BUY NOW
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end chocolate section -->

   <!-- footer section -->

    {% include 'footer.html' %}

  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- slick slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>

</body>

</html>